@page "/shoppinglist"
@using System.Reflection.Metadata
@using FirstBlazorApp.Data
@using FirstBlazorApp.Shared
<PageTitle>@title</PageTitle>
<h3>ShoppingList</h3>
<table>
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th></th>
	</tr>
	<tbody>
	@foreach (var grocery in groceries)
	{
		<Item GroceryItem="@grocery" OnPriceChanged="HandlePriceChanged"/>

	}
	<h2>Total (@totalPrice)</h2>
	</tbody>
		
	
</table>

<input placeholder="Grocery Name" @bind="groceryName"/>
<input placeholder="Grocery Price" @bind="groceryPrice" />
<button @onclick="AddGrocery">Add Item</button>

@code {
	private string title = "Shopping List";
	private float totalPrice;
	private string groceryName;
	private float groceryPrice;
	private List<Grocery> groceries = new();
	private void AddGrocery()
	{
		if (!string.IsNullOrWhiteSpace(groceryName) && groceryPrice > 0)
		{
			groceries.Add(new Grocery { Name = groceryName, Price = groceryPrice });
			UpdateTotalAmount();
			
		}
		groceryName = string.Empty;
		groceryPrice = 0;
		
	}

	public void UpdateTotalAmount()
	{
		totalPrice = groceries.Sum(g => g.Price);
	}

	public void HandlePriceChanged()
	{
		
		UpdateTotalAmount();
	}

	




}
