@page "/shoppinglist"
@using System.Reflection.Metadata
@using FirstBlazorApp.Data
@using FirstBlazorApp.Shared
<PageTitle>@title</PageTitle>
<h3>ShoppingList</h3>
<table>
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th></th>
	</tr>
	<tbody>
		@foreach (var grocery in groceries)
		{
			<Item GroceryItem="@grocery" OnPriceChanged="HandlePriceChanged"/>

		}
		<h2>Total (@totalPrice)</h2>
	</tbody>


</table>

<EditForm Model="@grocery" OnValidSubmit="AddGrocery">
	<DataAnnotationsValidator></DataAnnotationsValidator>
	<ValidationSummary />
	<p>
		<label>
			Name: <input type="text" @bind="grocery.Name"/>
		</label>
	</p>
	<p>
		<label>
			Price: <input type="number" @bind="grocery.Price"/>
		</label>
	</p>
	<button type="submit">Add Grocery</button>
</EditForm>

@code {
	private string title = "Shopping List";
	private float totalPrice;
	private string groceryName;
	private float groceryPrice;
	private Grocery grocery = new();
	private List<Grocery> groceries = new();
	private void AddGrocery()
	{
		
			groceries.Add(grocery);
			grocery = new Grocery();
			UpdateTotalAmount();
		
		
			
		
		
		
	}

	public void UpdateTotalAmount()
	{
		totalPrice = groceries.Sum(g => g.Price);
	}

	public void HandlePriceChanged()
	{
		
		UpdateTotalAmount();
	}

	




}
