@inherits LayoutComponentBase

<div class="layout">
	<div class="header">
		<h1>Our List</h1>
		<div>@today.ToShortDateString()</div>
	</div>
	<div class="sidebar">
		<NavMenu></NavMenu>
	</div>
	<div class="content">
		<p>@Body</p>

	</div>
	<div class="footer">
		<footer>
			@FooterMessage
		</footer>
	</div>
	
</div>



@code {
	public string FooterMessage { get; set; } = "Great Shopping!";
	DateTime today = DateTime.Today;
}
